In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
637,tt1068680,70000000,225990978,Yes Man,Jim Carrey|Zooey Deschanel|Rhys Darby|Sasha Al...,Peyton Reed,One Word Can Change Everything.,Carl Allen has stumbled across a way to shake ...,104,Comedy|Romance,The Zanuck Company|Heyday films|Warner Bros.,12/9/2008,6.3,2008
656,tt0430922,28000000,92380927,Role Models,Seann William Scott|Paul Rudd|Elizabeth Banks|...,David Wain,They're about to get more than they plea-barga...,Two salesmen trash a company truck on an energ...,99,Comedy,Universal Pictures|Internationale Filmprodukti...,2/3/2008,6.3,2008
1589,tt0346156,70000000,57958696,Sky Captain and the World of Tomorrow,Jude Law|Gwyneth Paltrow|Giovanni Ribisi|Angel...,Kerry Conran,Who will save us?,"When gigantic robots attack New York City, ""Sk...",107,Mystery|Action|Thriller|Science Fiction|Adventure,Paramount Pictures|Natural Nylon Entertainment...,9/17/2004,5.7,2004
1189,tt1690953,76000000,970761885,Despicable Me 2,Steve Carell|Kristen Wiig|Benjamin Bratt|Miran...,Pierre Coffin|Chris Renaud,Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,Animation|Comedy|Family,Universal Pictures|Illumination Entertainment,6/25/2013,7.0,2013
788,tt1454029,25000000,124272124,The Help,Emma Stone|Viola Davis|Octavia Spencer|Bryce D...,Tate Taylor,Change begins with a whisper.,Aibileen Clark is a middle-aged African-Americ...,146,Drama,DreamWorks SKG|1492 Pictures|Participant Produ...,8/9/2011,7.6,2011

In [3]:
display(data.describe())
display(data.info())

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

None

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data['release_date'] = pd.to_datetime(data['release_date'], format='%m/%d/%Y')
data['release_month'] = data['release_date'].dt.month
data['profit'] = data.revenue - data.budget
data['len_original_title'] = [len(s) for s in data['original_title']]
data['len_overview'] = [len(s) for s in data['overview']]

# На входе данные, на выходе данные по каждому значению в разделяемой колонке
# data - данные в формате pandas.DataFrame
# col - колонка по которой будет происходить разделение, строка
# sep - разделитель строки
def data_spliter(data, col, sep = '|'):
    if type(data) == pd.core.frame.DataFrame and type(col) == str:
        if col in data:
        
            result_data = pd.DataFrame()
        
            for i in range(len(data[col])):
                
                cell_list = data[col].iloc[i].split('|')
                temp_data = pd.DataFrame()                
                temp_data[col] = cell_list
                
                for column in data.columns:
                    if not column == col:
                        temp_data[column] = data[column].iloc[i]
                    
                if result_data.empty:
                    result_data = temp_data.copy()
                else:
                    result_data = result_data.append(temp_data, ignore_index=True)
                    
            return result_data

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data.loc[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_month,profit,len_original_title,len_overview
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,5,641683000,43,411

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
# +
data.loc[data.budget == data.budget.max()][['original_title', 'imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

# +
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [9]:
data.loc[data.runtime == data.runtime.max()][['original_title', 'imdb_id']]

         original_title    imdb_id
1157  Gods and Generals  tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
# +
answers['3'] = '768. Winnie the Pooh (tt1449283)'

In [11]:
data.loc[data.runtime == data.runtime.min()][['original_title', 'imdb_id']]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

# 4. Какова средняя длительность фильмов?

In [12]:
# +
answers['4'] = 110

In [13]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
# +
answers['5'] = 107

In [15]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# +
answers['6'] = '239. Avatar (tt0499549)'

In [17]:
data.loc[data.profit == data.profit.max()][['original_title', 'imdb_id']]

    original_title    imdb_id
239         Avatar  tt0499549

# 7. Какой фильм самый убыточный?

In [18]:
# +
answers['7'] = '1245. The Lone Ranger (tt1210819)'

In [19]:
data.loc[data.profit == data.profit.min()][['original_title', 'imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
# +
answers['8'] = 1478

In [21]:
data.loc[data.profit > 0].count()[0]

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
# +
answers['9'] = '599. The Dark Knight (tt0468569)'

In [23]:
movies_2008 = data.loc[data.release_year == 2008]
movies_2008.loc[movies_2008.profit == movies_2008.profit.max()][['original_title', 'imdb_id']]

      original_title    imdb_id
599  The Dark Knight  tt0468569

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
# +
answers['10'] = '1245. The Lone Ranger (tt1210819)'

In [25]:
movies_1214 = data.loc[(data.release_year >= 2012) & (data.release_year <= 2014)]
movies_1214.loc[movies_1214.profit == movies_1214.profit.min()][['original_title', 'imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 11. Какого жанра фильмов больше всего?

In [26]:
# +
answers['11'] = 'Drama'

data_spliter(data, 'genres').groupby(['genres'])['imdb_id'].count().sort_values(ascending=False).index[0]

'Drama'

ВАРИАНТ 2

In [27]:
data_spliter(data, 'genres').groupby(['genres'])['imdb_id'].count().sort_values(ascending=False).head(1)

genres
Drama    782
Name: imdb_id, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
# +
answers['12'] = 'Drama'

In [29]:
data_spliter(data[data.profit > 0], 'genres').groupby(['genres'])['imdb_id'].count().sort_values(ascending=False).head(1)

genres
Drama    560
Name: imdb_id, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [30]:
# +
answers['13'] = 'Peter Jackson'

In [31]:
data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
# +
answers['14'] = 'Robert Rodriguez'

In [33]:
data[data.genres.str.match('Action')].groupby(['director'])['imdb_id'].count().sort_values(ascending=False).head(1)

director
Robert Rodriguez    5
Name: imdb_id, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
# +
answers['15'] = 'Chris Hemsworth'

In [35]:
data_spliter(data[data.release_year == 2012], 'cast').groupby(['cast'])['revenue'].sum().sort_values(ascending=False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
# +
answers['16'] = 'Matt Damon'

In [37]:
data_spliter(data[data.budget > data.budget.median()], 'cast') \
        .groupby(['cast'])['imdb_id'].count().sort_values(ascending=False).head(1)

cast
Matt Damon    22
Name: imdb_id, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
# +
answers['17'] = 'Action'

In [39]:
data_spliter(data[data.cast.str.contains('Nicolas Cage')], 'genres') \
        .groupby(['genres'])['imdb_id'].count().sort_values(ascending=False).head(1)

genres
Action    17
Name: imdb_id, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [40]:
# +
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

In [41]:
movies_paramount = data[data.production_companies.str.contains('Paramount Pictures')]
movies_paramount[movies_paramount.profit == movies_paramount.profit.min()][['original_title', 'imdb_id']]

           original_title    imdb_id
925  K-19: The Widowmaker  tt0267626

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [42]:
# +
answers['19'] = 2015

In [43]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [44]:
# +
answers['20'] = 2014

In [45]:
movies_wb = data[data.production_companies.str.contains('Warner Bros')]
movies_wb.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2014    3243064519
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [46]:
# +
answers['20'] = 'Сентябрь'

In [47]:
data.groupby('release_month')['imdb_id'].count().sort_values(ascending=False).head(1)

release_month
9    227
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
# +
answers['22'] = 450

In [49]:
data[(data.release_month >= 6) & (data.release_month <= 8)]['imdb_id'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
# +
answers['23'] = 'Peter Jackson'

In [51]:
data[(data.release_month == 12) | (data.release_month == 1) | (data.release_month == 2)] \
        .groupby('director')['imdb_id'].count().sort_values(ascending=False).head(1)

director
Peter Jackson    7
Name: imdb_id, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [52]:
# +
answers['24'] = 'Four By Two Productions'

In [53]:
data_spliter(data[data.len_original_title == data.len_original_title.max()], \
             'production_companies')[['production_companies', 'len_original_title']]

                     production_companies  len_original_title
0  Twentieth Century Fox Film Corporation                  83
1                 Four By Two Productions                  83

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [54]:
# +
answers['25'] = 'Midnight Picture Show'

In [55]:
data_spliter(data, 'production_companies') \
        .groupby(['production_companies'])['len_overview'].mean().sort_values(ascending=False).head(1)

production_companies
Midnight Picture Show    1000.0
Name: len_overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [56]:
# +
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [57]:
sorted_data = data.sort_values(by=['vote_average'], ascending=False)
count_precent = round(float(sorted_data.vote_average.count()) * 0.01)
sorted_data.head(count_precent)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_month,profit,len_original_title,len_overview
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,7,816921825,15,396
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,2014-11-05,8.0,2014,11,456752480,12,222
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,2014-11-14,8.0,2014,11,219555708,18,287
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,2015-06-09,8.0,2015,6,678708609,10,638
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,2015-10-16,8.0,2015,10,29401758,4,243
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,2013-12-25,7.9,2013,12,292000694,23,200
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,2014-10-01,7.9,2014,10,308330363,9,169
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,2013-10-18,7.9,2013,10,167000000,16,379
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,2014-07-30,7.9,2014,7,603312399,23,164
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,7.9,2003,12,1024888979,45,254
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,2000-10-11,7.9,2000,10,30723096,7,436
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,2010-07-14,7.9,2010,7,665500000,9,280
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,2002-09-24,7.9,2002,9,85072577,11,238
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2014-02-26,7.9,2014,2,144600318,24,402
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,2013-12-18,7.8,2013,12,24351251,3,411
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,2015-11-06,7.8,2015,11,68346473,9,189
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,2014-10-24,7.8,2014,10,487105443,10,171
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,2014-05-16,7.8,2014,5,293151265,22,302
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,2002-12-18,7.8,2002,12,847287400,37,248

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [58]:
# +
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [67]:
# Фомируем две идентичных таблицы с данными актёров
actors_1 = data_spliter(data, 'cast')[['cast', 'imdb_id']]
actors_2 = actors_1.copy()

# Объеденяем актёров по фильмам
joined_actors = actors_1.merge(actors_2, on='imdb_id', how='left', suffixes=('_1', '_2'))

# Фильтруем совпадения по одному актёру
joined_actors = joined_actors[~(joined_actors.cast_1 == joined_actors.cast_2)]

# Вспомогательная колонка, содержащая список из актёров
joined_actors['temp_list'] = [[joined_actors.cast_1.iloc[i], joined_actors.cast_2.iloc[i]] \
                              for i in range(len(joined_actors.cast_1))]

# Сортировка актёров внутри вспомогательного списка
joined_actors['temp_list'].sort_values().apply(lambda x: x.sort())

# Формирование дуэтов актёров в одтельной колонке
joined_actors['duets'] = [' & '.join(joined_actors['temp_list'].iloc[i]) \
                         for i in range(len(joined_actors.temp_list))]

# Удаление дублей по дуэтам и фильмам
joined_actors.drop_duplicates(subset = ['duets', 'imdb_id'], keep = 'first', inplace = True)

# Группировка данных по дуэтам актёров и подсчёт количесва фильмов
joined_actors.groupby(['duets'])['imdb_id'].count().sort_values(ascending=False).head(3)

            cast_1    imdb_id               cast_2
0      Chris Pratt  tt0369610          Chris Pratt
1      Chris Pratt  tt0369610  Bryce Dallas Howard
2      Chris Pratt  tt0369610          Irrfan Khan
3      Chris Pratt  tt0369610    Vincent D'Onofrio
4      Chris Pratt  tt0369610        Nick Robinson
...            ...        ...                  ...
47169  Tess Harper  tt0163676           Susan Ward
47170  Tess Harper  tt0163676         Lori Heuring
47171  Tess Harper  tt0163676       Matthew Settle
47172  Tess Harper  tt0163676        Nathan Bexton
47173  Tess Harper  tt0163676          Tess Harper

[47174 rows x 3 columns]

duets
Daniel Radcliffe & Rupert Grint    8
Daniel Radcliffe & Emma Watson     8
Emma Watson & Rupert Grint         8
Name: imdb_id, dtype: int64

# Submission

In [61]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [62]:
# и убедиться что ни чего не пропустил)
len(answers)

26